<template>
	<div class="add">
		<form
			v-on:submit.prevent="postFilm"
			class="form"
			id="movieform"
			action
			method="post"
		>
			<h2>Dodaj novi film</h2>
			<label for="name">Naziv:</label>
			<input type="text" name="name" placeholder="npr. Maze runner" />
			<label for="description">Opis filma:</label>
			<textarea
				name="description"
				placeholder="npr. Znanstveno fantastični film..."
				cols="30"
				rows="5"
			></textarea>
			<input type="hidden" name="img" id="prviSkriveni" />
			<label for="filepath">Lokacija filma na disku:</label>
			<input
				type="text"
				name="filepath"
				placeholder="npr. C:/korisnik/filmovi/MazeRunner.mp4"
			/>
			<label>Poster filma:</label>
			<input @change="previewFile" type="file" id="prviFile" />
			<input type="submit" value="Dodaj" />
		</form>
		<form
			v-on:submit.prevent="postSub"
			class="form"
			id="subform"
			action
			method="post"
		>
			<h2>Dodaj novi titl</h2>
			<label for="movie_id">Za film:</label>
			<select name="movie_id" id>
				<option
					v-bind:key="film.id"
					v-for="film in filmovi"
					:value="film.id"
					>{{ film.name }}</option
				>
			</select>
			<label for="lang">Jezik:</label>
			<input type="text" name="lang" placeholder="Hrvatski" />
			<label for="langAbbr">Skraćenica jezika:</label>
			<input type="text" name="langAbbr" placeholder="hr" />
			<input type="hidden" name="file" id="drugiSkriveni" />
			<label for="filepath">Datoteka titlova:</label>
			<input @change="previewFile2" type="file" id="drugiFile" />
			<input type="submit" value="Dodaj" />
		</form>
		<form
			v-on:submit.prevent="delFilm"
			class="form"
			id="delform"
			action
			method="post"
		>
			<h2>Ukloni film</h2>
			<label for="movieId">Film:</label>
			<select name="movieId" id>
				<option
					v-bind:key="film.id"
					v-for="film in filmovi"
					:value="film.id"
					>{{ film.name }}</option
				>
			</select>
			<input type="submit" value="Ukloni" />
		</form>
		<form
			v-on:submit.prevent="delUser"
			class="form"
			id="deluserform"
			action
			method="post"
		>
			<h2>Ukloni korisnika</h2>
			<label for="id">Korisnik:</label>
			<select name="id" id>
				<option
					v-bind:key="kor.id"
					v-for="kor in korisnici"
					:value="kor.id"
					>{{ kor.name }}</option
				>
			</select>
			<input type="submit" value="Ukloni" />
		</form>
	</div>
</template>

<script>
	export default {
		name: "Add",
		data() {
			return {
				filmovi: [],
				korisnici: [],
			};
		},
		mounted() {
			fetch("/movies")
				.then((res) => res.json())
				.then((data) => (this.filmovi = data));
			fetch("/users")
				.then((res) => res.json())
				.then((data) => (this.korisnici = data));
		},
		methods: {
			postFilm() {
				const form = document.querySelector("#movieform");
				let formData = new FormData(form);
				var data = {};
				formData.forEach(function(value, key) {
					data[key] = value;
				});
				//   console.log(data);
				fetch("/movies", {
					method: "POST",
					body: JSON.stringify(data),
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						fetch("/movies")
							.then((res) => res.json())
							.then((data) => (this.filmovi = data));
						form.reset();
					});
			},
			postSub() {
				const form = document.querySelector("#subform");
				let formData = new FormData(form);
				var data = {};
				formData.forEach(function(value, key) {
					data[key] = value;
				});
				console.log(data);
				fetch("/subtitles", {
					method: "POST",
					body: JSON.stringify(data),
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						form.reset();
					});
			},
			delFilm() {
				const form = document.querySelector("#delform");
				let formData = new FormData(form);
				var data = {};
				formData.forEach(function(value, key) {
					data[key] = value;
				});
				console.log(data);
				fetch("/movies/" + data["movieId"], {
					method: "DELETE",
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						fetch("/movies")
							.then((res) => res.json())
							.then((data) => (this.filmovi = data));
						form.reset();
					});
			},
			delUser() {
				const form = document.querySelector("#deluserform");
				let formData = new FormData(form);
				var data = {};
				formData.forEach(function(value, key) {
					data[key] = value;
				});
				console.log(data);
				fetch("/users/" + data["id"], {
					method: "DELETE",
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						fetch("/users")
							.then((res) => res.json())
							.then((data) => (this.korisnici = data));
						form.reset();
					});
			},
			previewFile() {
				const preview = document.querySelector("#prviSkriveni");
				const file = document.querySelector("#prviFile").files[0];
				const reader = new FileReader();

				reader.addEventListener(
					"load",
					function() {
						// convert image file to base64 string
						preview.value = reader.result;
					},
					false
				);

				if (file) {
					reader.readAsDataURL(file);
				}
			},
			previewFile2() {
				const preview = document.querySelector("#drugiSkriveni");
				const file = document.querySelector("#drugiFile").files[0];
				const reader = new FileReader();

				reader.addEventListener(
					"load",
					function() {
						// convert image file to base64 string
						preview.value = reader.result;
					},
					false
				);

				if (file) {
					reader.readAsText(file);
				}
			},
		},
	};
</script>

<style>
	.add {
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 76rem;
	}
	.form {
		margin: 0 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 32rem;
	}
	label {
		margin: 1rem 2rem 0 2rem;
		width: 28rem;
	}
	input[type="text"],
	input[type="submit"],
	input[type="file"],
	textarea {
		font-size: 1rem;
		margin: 1rem 2rem;
		width: 28rem;
	}
	input[type="submit"] {
		margin: 2rem auto;
		background-color: var(--accent);
		color: black;
		cursor: pointer;
	}
	input[type="submit"]:hover {
		margin: 2rem auto;
		background-color: #afd8ff;
		color: black;
	}
	select {
		width: 28rem;
	}
</style>
