<template>
	<div class="home">
		<div class="logo">
			<img src="../assets/HOMEFLIX_logo.png" width="256rem" />
		</div>
		<div class="viewWindow">
			<stream
				v-if="watching"
				v-on:zatvori="close"
				v-bind:movie="currentId"
			></stream>
		</div>
		<div class="paleta">
			<h3 class="section_title">Favoriti</h3>
			<thumbnail
				v-on:start-stream="watch"
				v-on:refresh="fetchMovies"
				v-bind:key="film.id"
				v-for="film in filmovi"
				v-bind:movie="film"
			></thumbnail>
			<h4 v-if="filmovi.length == 0">
				Nemate filmova koji vam se sviđaju
			</h4>
		</div>
	</div>
</template>

<script>
	import Thumbnail from "../components/Thumbnail.vue";
	import Stream from "../components/Stream.vue";
	export default {
		name: "Home",
		components: {
			Thumbnail,
			Stream,
		},
		data() {
			return {
				watching: false,
				currentId: null,
				filmovi: [],
			};
		},
		methods: {
			watch(id) {
				this.currentId = id;
				this.watching = true;
				// console.log("Clicked" + id);
			},
			close() {
				this.watching = false;
				this.currentId = null;
				// console.log("zatvaram");
			},
			fetchMovies() {
				console.log(window.localStorage.getItem("user"));
				// let url = "/movies";
				let url =
					"/movies/favorite/" + window.localStorage.getItem("user");
				// console.log(url);
				fetch(url)
					.then((res) => res.json())
					.then((data) => {
						console.log(data);
						this.filmovi = data;
					})
					.catch((err) => console.error(err));
			},
		},
		mounted() {
			if (window.localStorage.getItem("user")) {
				// console.log(this.$parent.$data.logged_in_user.id);
				this.fetchMovies();
			}
		},
	};
</script>

<style scoped>
	.home {
		display: flex;
		flex-wrap: wrap;
	}
	.viewWindow {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.section_title {
		width: 100%;
	}

	.paleta {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.logo {
		width: 100%;
		background-color: var(--bg-primary);
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 1rem 1rem 2rem #00000088;
		margin-bottom: 2rem;
		display: flex;
		justify-content: center;
	}
	@media only screen and (max-width: 600px) {
		.home {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
</style>
