<template>
	<div class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<router-link class="nav-link" to="/">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="heading"
						class="svg-inline--fa fa-heading fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
					>
						<path
							fill="currentColor"
							d="M448 96v320h32a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H320a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32V288H160v128h32a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H32a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32V96H32a16 16 0 0 1-16-16V48a16 16 0 0 1 16-16h160a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16h-32v128h192V96h-32a16 16 0 0 1-16-16V48a16 16 0 0 1 16-16h160a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16z"
						/>
					</svg>
					<span class="link-text">Početna</span>
				</router-link>
			</li>
			<li class="nav-item">
				<router-link class="nav-link" to="/search">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="search"
						class="svg-inline--fa fa-search fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
					>
						<path
							fill="currentColor"
							d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
						/>
					</svg>
					<span class="link-text">Pretraga</span>
				</router-link>
			</li>
			<li class="nav-item">
				<router-link class="nav-link" to="/about">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="info-circle"
						class="svg-inline--fa fa-info-circle fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
					>
						<path
							fill="currentColor"
							d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
						></path>
					</svg>
					<span class="link-text">O_nama</span>
				</router-link>
			</li>
			<li class="nav-item">
				<router-link class="nav-link" to="/add">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="plus-circle"
						class="svg-inline--fa fa-plus-circle fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
					>
						<path
							fill="currentColor"
							d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"
						></path>
					</svg>
					<span class="link-text">Postavke</span>
				</router-link>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		name: "Navbar",
	};
</script>

<style>
	.navbar {
		margin: 2rem 1rem;
		border-radius: 1rem;
		z-index: 10;
		background-color: var(--bg-primary);
		position: fixed;
		transition: width 0.2s ease;
		box-shadow: 1rem 1rem 2rem #00000088;
	}
	.navbar-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-link {
		display: flex;
		align-items: center;
		color: var(--text-primary);
		text-decoration: none;
		height: 5rem;
	}
	.nav-item {
		width: 100%;
		filter: grayscale(100%) opacity(0.9);
	}
	.nav-item:last-child {
		margin-top: auto;
	}
	.link-text {
		display: none;
		margin-left: 1rem;
		color: var(--accent);
	}
	.nav-item:hover {
		background-color: var(--bg-secondary);
		filter: grayscale(0%) opacity(1);
	}
	.nav-item:focus,
	.nav-link:focus {
		outline: none;
	}
	.nav-link svg {
		min-width: 2rem;
		width: 2rem;
		margin: 0 1.5rem;
	}
	svg[class*="fa-"] {
		color: var(--accent);
	}

	@media only screen and (min-width: 600px) {
		.navbar {
			top: 0;
			width: 5rem;
			height: 93vh;
		}
		.navbar:hover {
			width: 16rem;
		}
		.navbar:hover .link-text {
			display: block;
		}
	}
	@media only screen and (max-width: 600px) {
		.navbar {
			bottom: 0;
			width: 90vw;
			height: 5rem;
		}
		.navbar-nav {
			flex-direction: row;
		}
		.nav-link {
			justify-content: left;
		}
		.nav-item {
			width: 5rem;
		}
	}
</style>
