<template>
	<div id="stream">
		<button class="close-btn" @click="zatvori">Zatvori</button>
		<video
			class="video_stream"
			width="1280px"
			height="720px"
			autoplay
			controls
		>
			<source
				:src="'http://' + host + '/movies/' + movie.id"
				type="video/mp4"
			/>
			<track
				v-bind:key="sub.id"
				v-for="sub in subtitles"
				:label="sub.lang"
				kind="subtitles"
				:srclang="sub.langAbbr"
				:src="'/static/' + sub.filepath"
				default
			/>
		</video>
		<div class="about">
			<h3>{{ movie.name }}</h3>
			<p>{{ movie.description }}</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Stream",
		props: ["movie"],
		mounted() {
			fetch("/subtitles/" + this.movie.id)
				.then((res) => res.json())
				.then((data) => (this.subtitles = data));
		},
		activated() {
			console.log("Activated");
		},
		methods: {
			zatvori() {
				this.$emit("zatvori");
			},
		},
		data() {
			return {
				host: window.location.host,
				subtitles: [],
			};
		},
	};
</script>

<style>
	#stream {
		margin: 0 auto;
		box-shadow: 6rem 6rem 4rem #00000099;
		position: absolute;
		background-color: var(--bg-primary);
		z-index: 8;
		border-radius: 5px;
	}
	.close-btn {
		font-family: "Montserrat";
		position: absolute;
		max-height: 2rem;
		background-color: #822;
		border: 0px;
		color: white;
		padding: 10px;
		border-radius: 5px 0 20px 0;
	}
	.close-btn:hover {
		background-color: #a22;
	}
	.video_stream {
		margin: 2rem 4rem;
		max-width: 80vw;
		max-height: 45vw;
	}
	.about {
		padding: 2rem;
	}
</style>
